{% extends "base.html" %}

{% block title %}School|Courses{% endblock title %}


{% block content %}

<style>
    .errorlist{
        list-style-type:none;
        color:red;
        font-size:12px ;
        /* margin: 0px; */
        padding: 0px;
    }
</style>
    

<h1>This is course home page</h1>

<div class="container border col-7 mt-3 pt-3" >
    <h3>using form3</h3>
<form action="/course/" method="POST">

{% csrf_token %}
{{form.as_p}}
<br>

<input type="submit" name="form_type" value="formOne">
</form>
</div> 

<div class="container border col-7 mt-3 pt-3" >
    <h3>using form4</h3>
<form action="/course/" method="POST">

{% csrf_token %}
{{form4.as_p}}
<br>

<input type="submit" name="form_type" value="formTwo">
</form>
</div>

<div class="container border col-7 mt-3 pt-3" >
    <h3>using form5</h3>
<form action="/course/" method="POST">

{% csrf_token %}

{{form5.non_field_errors}}
{% for field in form5 %}
    <div>{{field.label_tag}} {{field}} {{field.errors|striptags}}</div>
{% endfor %}



<input type="submit"  value="formThree">
</form>
</div>

{% endblock content %}
   